.bg-hello {
  background: url("../img/bg-hello.jpg");
  background-size: cover;
  height: 700px;
}

.hello {
text-align: center;
  &__heading {
    color: white;
    font-family: "Comfortaa", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    margin: 0 auto;
    padding-top: 20%;
  }
  &__text {
    width: 50%;
    color: white;
    font-family: "Comfortaa", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    margin: 20px auto;
  }
}

